.content tr{
    margin-bottom: 17.5px;
    display: block;
}
.content_text{
    -webkit-appearance: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline: none;
    width: 469px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 25px 30px;
    font-size: 24px;
    /*display: block;*/
    background: #FFFFFF;
    border: 1px solid #D6CFC9;
    border-radius: 10px;

}
.next_button{
    -webkit-appearance: none;
    outline: none;
    width: 529px;
    height: 82px;
    line-height: 82px;
    margin: 0;
    font-size: 28px;
    color: #fff;
    opacity: 1;
    background: #E51737;
    border: 1px solid #E51737;
    border-radius: 10px;
}
.next_buttonAfter{
    background: #B91736;
    border: 1px solid #B91736;
}
#birChange,#cityChange,#hospitalChange{
    background: #FFFFFF url("../images/selectArrow.png")no-repeat 94% center;
}
.logoIMG{
    width: 230px;
    height: 160px;
    background: url("../images/logo.png")no-repeat center 2%;
}
.slogan{
    font-family: STYuanti-SC-Bold;
    color: #E51737;
    letter-spacing: 0;
}
.sloganText_A{
    font-size: 48px;
}
.sloganText_B{
    font-size: 28px;
}