.QRcodeBox{
    width: 386px;
    height: 386px;
    margin:0 auto;
    background: #FFFFFF;
    box-shadow: 0 4px 15px 0 rgba(229,23,55,0.25);
    border-radius: 12px;
}
.longTouch{
    height: 143px;
    background: url("../images/longTouch.png")no-repeat center 100%;
}
.logoIMG{
    width: 230px;
    height: 160px;
    background: url("../images/logo.png")no-repeat center 2%;
}
.sloganText_A{
    font-size: 32px;
    font-family: STYuanti-SC-Bold;
    color: #E51737;
    letter-spacing: 0;
}
.sloganText_B{
    font-family: STYuanti-SC-Regular;
    font-size: 28px;
    color: #E51737;
    letter-spacing: 0;
    line-height: 45px;
}